@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--gray-1: #fcfcfc;
	--gray-2: #f9f9f9;
	--gray-3: #f0f0f0;
	--gray-4: #e8e8e8;
	--gray-5: #e0e0e0;
	--gray-6: #d9d9d9;
	--gray-7: #cecece;
	--gray-8: #bbbbbb;
	--gray-9: #8d8d8d;
	--gray-10: #838383;
	--gray-11: #646464;
	--gray-12: #202020;

	--violet-1: #fdfcfe;
	--violet-2: #faf8ff;
	--violet-3: #f4f0fe;
	--violet-4: #ebe4ff;
	--violet-5: #e1d9ff;
	--violet-6: #d4cafe;
	--violet-7: #c2b5f5;
	--violet-8: #aa99ec;
	--violet-9: #6e56cf;
	--violet-10: #654dc4;
	--violet-11: #6550b9;
	--violet-12: #2f265f;

	--red-1: #fffcfc;
	--red-2: #fff7f7;
	--red-3: #feebec;
	--red-4: #ffdbdc;
	--red-5: #ffcdce;
	--red-6: #fdbdbe;
	--red-7: #f4a9aa;
	--red-8: #eb8e90;
	--red-9: #e5484d;
	--red-10: #dc3e42;
	--red-11: #ce2c31;
	--red-12: #641723;

	--blue-1: #fbfdff;
	--blue-2: #f4faff;
	--blue-3: #e6f4fe;
	--blue-4: #d5efff;
	--blue-5: #c2e5ff;
	--blue-6: #acd8fc;
	--blue-7: #8ec8f6;
	--blue-8: #5eb1ef;
	--blue-9: #0090ff;
	--blue-10: #0588f0;
	--blue-11: #0d74ce;
	--blue-12: #113264;

	--green-1: #fbfefc;
	--green-2: #f4fbf6;
	--green-3: #e6f6eb;
	--green-4: #d6f1df;
	--green-5: #c4e8d1;
	--green-6: #adddc0;
	--green-7: #8eceaa;
	--green-8: #5bb98b;
	--green-9: #30a46c;
	--green-10: #2b9a66;
	--green-11: #218358;
	--green-12: #193b2d;
}

@media (prefers-color-scheme: dark) {
	:root {
		--gray-1: #111111;
		--gray-2: #191919;
		--gray-3: #222222;
		--gray-4: #2a2a2a;
		--gray-5: #313131;
		--gray-6: #3a3a3a;
		--gray-7: #484848;
		--gray-8: #606060;
		--gray-9: #6e6e6e;
		--gray-10: #7b7b7b;
		--gray-11: #b4b4b4;
		--gray-12: #eeeeee;

		--violet-1: #14121f;
		--violet-2: #1b1525;
		--violet-3: #291f43;
		--violet-4: #33255b;
		--violet-5: #3c2e69;
		--violet-6: #473876;
		--violet-7: #56468b;
		--violet-8: #6958ad;
		--violet-9: #6e56cf;
		--violet-10: #7d66d9;
		--violet-11: #baa7ff;
		--violet-12: #e2ddfe;

		--red-1: #191111;
		--red-2: #201314;
		--red-3: #3b1219;
		--red-4: #500f1c;
		--red-5: #611623;
		--red-6: #72232d;
		--red-7: #8c333a;
		--red-8: #b54548;
		--red-9: #e5484d;
		--red-10: #ec5d5e;
		--red-11: #ff9592;
		--red-12: #ffd1d9;

		--blue-1: #0d1520;
		--blue-2: #111927;
		--blue-3: #0d2847;
		--blue-4: #003362;
		--blue-5: #004074;
		--blue-6: #104d87;
		--blue-7: #205d9e;
		--blue-8: #2870bd;
		--blue-9: #0090ff;
		--blue-10: #3b9eff;
		--blue-11: #70b8ff;
		--blue-12: #c2e6ff;

		--green-1: #0e1512;
		--green-2: #121b17;
		--green-3: #132d21;
		--green-4: #113b29;
		--green-5: #174933;
		--green-6: #20573e;
		--green-7: #28684a;
		--green-8: #2f7c57;
		--green-9: #30a46c;
		--green-10: #33b074;
		--green-11: #3dd68c;
		--green-12: #b1f1cb;
	}
}

* {
	@apply antialiased;
}

html {
	@apply bg-gray-1 text-gray-12;
	font-size: 14px;
}
